/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Generelt*/
* {
    box-sizing: border-box
}

body {
    max-width: 100%;
}

.blue {
    background-color: #005aab;
}

main {
    min-height: 806px;
}

/*Menu1*/
nav {
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    flex-direction: row;
}

.navbar_links ul {
    margin: 0px 20px 0px 0px;
    padding: 0;
    display: flex;
}

.navbar_links li {
    list-style: none;
    font-size: 18px;
    width: 100px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_links li a {
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    width: 80px;
    height: 30px;
}

.navbar_links li:hover {
    background-color: #555;
}

.navbar_links li a:hover {
    color: rgb(121, 202, 230);
}

.dropdownmenu {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.dropdownmenu .bar {
    height: 3px;
    width: 30px;
    background-color: white;
    border-radius: 10px;
}

/*Logo*/
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34vw;
    margin: 0px auto;
}

.logo {
    max-height: 49.17px;
    max-width: 100px;
}

/*Sprog og Dropmenu 2*/
.nav_right {
    width: 33vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav_dropbtn {
    background-color: #333;
    color: white;
    border: none;
    width: 100%;
    height: 75px;
    text-align: center;
}

.nav_drop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav_dropmenu {
    position: relative;
    display: inline-block;
}

#nav_dropleft {
    right: 0%;
}

.nav_dropmenu_content {
    display: none;
    position: absolute;
    background-color: #555;
    width: 100px;
    box-shadow: -5px 8px 16px 0px rgba(0, 0, 0, 2);
    z-index: 2;
}

.nav_dropmenu_content a {
    color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav_dropmenu_content a:hover {
    background-color: #999;
}

.nav_dropmenu:hover .nav_dropmenu_content {
    display: block;
}

.nav_dropmenu:hover .nav_dropbtn {
    background-color: #555;
}

.material-icons {
    font-size: 2rem;
}

.nav_lan_img {
    height: 30px;
    width: 50px;
}

.nav_lan_p {
    font-size: 20px;
}

/*Forside*/
.f_slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: 20px 0px;
}

.f_slide_left {
    box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 2);
    width: auto;
    height: auto;
}

.f_ytvid {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    z-index: 1;
}

.f_slide_right {
    box-shadow: -5px 8px 16px 0px rgba(0, 0, 0, 2);
    width: auto;
    height: auto;
}

.white {
    background-color: white;
    margin-top: 0px;
}

.f_title {
    font-family: "American Sporty", serif;
    font-size: 50px;
    margin: 40px 0px -20px 12%;
    line-height: 70px;
    position: relative;
}

/*Produkter*/
.category-header {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexbox-container {
    display: flex;
    background-color: white;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
}

.product-container {
    text-align: center;
    width: 90%;
    border-bottom: solid black;
    margin-bottom: 1.2rem;
    margin-left: 5%;
}

.product-name {
    font-weight: bold;
}

.product-price {
    font-family: "Lexend", serif;
    font-weight: 500;
    color: rgb(0, 140, 255);
}

.product-img {
    max-width: 100%;
    align-items: center;
    width: auto;
    height: auto;
}

.material-icons {
    font-size: 2rem;
}

.green {
    color: green;
}

.black {
    color: black;
}

/*Produkt Hjul*/
.item1 {
    grid-area: header;
    height: 40px;
    border-bottom: 2px #1c1c1d;
    border-style: solid;
    margin-top: 10px;
}

.item2 {
    grid-area: main;
    min-width:300px;
    max-width: 700px;
}

.item4 {
    grid-area: right;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    background-color: white;
    max-height: 800px;
    min-width:300px ;
    max-width: 700px;
    margin: 5% 0 0 5%;
}

.item5 {
    grid-area: footer;
    position: relative;
    border: 5px #1c1c1d;
    border-style: solid;
    background-color: rgba(203, 198, 198, 0.494);
    max-width: 1250px;
    max-height:420px;
    margin: 15% 15% 3% 15%;
}

.grid-container {
    display: grid;
    grid:
        'header header header header header header'
        '. main main right right .'
        'footer footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #ffffff;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 0px 0;
    font-size: 30px;
}

.flex_extra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex_extra1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex_extra2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.extrabillede {
    width: 20%;
    margin: 10px;
    border-radius: 25%;
    border: 3px #1c1c1d;
    border-style: solid;
    max-height: 150px;
    max-width:225px ;
    min-width: 100px;
}

#produkt_text {
    font-size: 1.3rem;
    font-family: 'Comfortaa', cursive;
    border: 3px #1c1c1d;
    border-style:solid ;
    margin-top: 5% ;
    border-radius: 7%;
    min-width: 300px;
    padding-bottom: 5%;
}

.custom_billede {
    width: 100%;
    max-width: 550px;
    min-width:300px;
    height: auto;
    margin-top: 0.3rem;
}

.købknap {
    width:100%;
    height: 100px;
    border: 2px #333;
    border-style: solid;
    background-color: orange;
    box-shadow: 0px 5px 5px 0px #333;
    font-size: 5.2rem;
    margin-top: 1%;
    min-width: 300px;
    max-width: 650px;
}

.flex_main {
    display: flex;
    height: 17rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.produkt_main_billede {
    width: 100%;
    max-width: 550px;
    min-width:300px;
    border: 5px #1c1c1d;
    border-style: solid;
}

.knapper {
    max-width: 50px;
    min-width: 25px;
    min-height: 25px;
    align-self: center;
}

.pris {
    width: 100%;
    height: 90px;
    border: 2px #333;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 5px 0px #333;
    font-size: 3.1rem;
    min-width: 300px;
    max-width: 650px;
    margin-top: 3%;
}

.h1 {
    font-family: 'Lexend Deca', sans-serif;
}

/*Outlet*/
#yellow{
    color: rgb(168, 168, 0);
}

/*Om SOS*/
.om_os {
    display: flex;
    flex-direction: row;
}

.om_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 71.8vh;    
}

.merch_pic {
    height: 500px;
    width: auto;
    margin: 0px 0px 0px 0px;
}

.om_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.no_margin {
    margin: 0px;
}

.right_box {
    height: 100%;
    max-height: 500px;
    max-width: 75%;
    display: flex;
    justify-content: center;
}

.om_os_text {
    background-color: #0095da;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 75%;
    padding: 10px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    font-family: "comfortaa", sans-serif;
}

/*Kontakt*/
.kontakt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.kontakt_map {
    height: auto;
    width: auto;
    margin: 200px 0px 195px 0px;
}

.kontakt_logo {
    height: auto;
    width: auto;
    margin: 40px 0px 100px 0px;
}

.kontakt_info {
    font-size: 22px;
    line-height: 40px;
    font-weight: 500;
    font-family: "comfortaa", sans-serif;
}


/*Footer*/
.footer_box {
    list-style: none;
    background-color: #333;
    line-height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Oswald", serif;
}

.footer_head {
    font-size: 1rem;
}

.footer_content {
    color: orange;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer_icon {
    width: 44px;
    height: 44px;
    margin: 0px 5px;
}

.footer_links {
    text-decoration: none;
    color: orange;
    display: block;
    font-size: 0.9rem;
}

.Footer_header {
    margin: 0px 0px 20px 0px;
}

.footer_links:hover {
    color: rgb(184, 120, 0);
}

.footer_kontakt {
    text-decoration: none;
    color: orange;
}


@media (min-width: 1700px) {
    .f_ytvid {
        margin: 0px 20px;
    }
}

@media (min-width: 601px) {
    /*header section*/
    .navigation_header{
        top: 0;
        width: 100%;
        background-color: black;
        border-radius: 0px 0px 5px 5px;
    }
    
    .category-header{
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 1px solid black;
        width: 80%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left:10%;
        color: white;
    }

    .flexbox-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: white;
        width: 100%;
        justify-content: center;
        text-align: center;
        line-height: 1.2rem;
    }

    .product-container{
        text-align: center;
        width: 25%;
        border: 1px solid grey;
        margin-bottom: 1.2rem;
        margin-left: 0.5rem;
        margin-right:0.5rem;
    }

    .product-name{
        font-weight: bold;
    }
    
    .product-img{
        max-width: 100%;
        align-items: center;
    }

    .material-icons{
        margin-top: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }

    /*Outlet*/
    .breaker {
        display: none;
    }
}

@media (max-width: 600px) {
    /*Navigation*/
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        width: 100%;
        width: 140px;
        position: absolute;
        top: 2.5%;
        right: 35%;
    }

    .dropdownmenu {
        display: flex;
    }
    
    .navbar_links {
        display: none;
        width: 100%;
    }

    .navbar_links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar_links li {
        text-align: center;
        font-size: 1.5rem;
        min-width: 100%;
        max-width: 600px;
        border-top: 1px solid orange;
    }

    .navbar_links li a {
        padding: 0.5rem 1rem;
        width: 100%;
    }

    .navbar_links.active {
        display: flex;
    }

    /*Forside*/
    .f_slideshow {
        height: 250px;
    }

    .f_ytvid {
        width: 100%;
        height: 250px;
    }

    .f_slide_right, .f_slide_left {
        display: none;
    }

    /*Proudkt Hjul*/
    .grid-container {
        display: grid;
        grid:
            'header header header header header header'
            '. main main main main .'
            '. right right right right .'
            'footer footer footer footer footer footer';
        grid-gap: 10px;
        background-color: #ffffff;
        padding: 10px;
    }

    .item4 {
        flex-direction: column-reverse;
    }

    .item2 {
        margin-bottom: 500px;
    }

    .item5 {
        max-width: 500px;
        max-height: 1300px;
    }
   
    .flex_extra1 {
        flex-direction: column;
        max-width: 395px;
        align-items: center;
    }

    .flex_extra2 {
        flex-direction: column;
        max-width: 395px;
        align-items: center;
    }

    .knapper {
        display: none;
    }

    .extrabillede {
        min-width: 200px;
        margin-left: 0%;
    }

    /*Om SOS*/
    .om_os {
        display: flex;
        flex-direction: column;
    }

    .om_left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .merch_pic {
        margin: 40px 0px ;
        height: 350px;
        width: auto;
    }

    .om_right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }

    .no_margin {
        margin: 0px;
    }
    
    .right_box {
        height: 800px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    .om_os_text {
        background-color: #0095da;
        display: flex;
        align-items: center;
        text-align: center;
        height: 460px;
        width: 90%;
        font-size: 16px;
        line-height: 25px;
        font-weight: 500;
        font-family: "comfortaa", sans-serif;
        padding: 10px;
    }
    
    /*Kontakt*/
    .kontakt {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .kontakt_map {
        max-width: 350px;
        width: auto;
        margin: 20px 0px 40px 0px;
    }

    .kontakt_logo {
        height: auto;
        width: auto;
        margin: 40px 0px 40px 0px;
    }

    .kontakt_info {
        font-size: 22px;
        line-height: 40px;
        font-weight: 500;
        font-family: "comfortaa", sans-serif;
        margin-bottom: 40px;
    }

    /*Footer*/
    .footer_box {
        /*position: absolute;*/
        bottom: 0;
        width: 100%;
        text-align: center;
        flex-direction: column;
        line-height: 3rem;
    }

    .footer_links {
        display: block;
        font-size: 0.8rem;
    }

    .Footer_header {
        margin: 0px 10px;
    }
}

@media screen and (max-width: 900px) {
    /*Navigation*/
    .navbar_links li {
        font-size: 14px;
        width: 80px;
    }
    
    .navbar_links li a {
        width: 60px;
    }

    /*Forside*/
    .f_slide_right, .f_slide_left {
        display: none;
    }

    /*Produkt Hjul*/
    .købknap {
        font-size: 3rem;
        height: 70px;
    }

    .pris {
        font-size: 2.5rem;
    }
    
    #produkt_text {
        font-size: 1rem;
    }
    
    .extrabillede {
        margin: 2px 2px 2px 2px;
    }
   .item2 {
    max-height: 600px;
   }

   .item4 { 
    max-height: 600px;
    }
}

@media (max-width: 450px) {
    /*Produkt Hjul*/
    .item2 {
        margin-top: 0%;
        margin-bottom: 350px;
    }
    h2.titletext {
        font-size: 25px;
    }
}

@media (max-width: 376px) {
    /*Produkt Hjul*/
    .item2 {
        margin-bottom: 250px;
    }
}